@use './helpers/statics';
@use './helpers/buttons';
@use './helpers/components';

// Variables :
$dark: #282828;
$darker: #181818;
$middark: #212121;
$lightdark: #444746;
$light: #fcfcfc;
$bgLight: #eaeaea;
$success: #198754;
$danger: #dc3545;
$prime: #0d6efd;
$money: #28b530;
$accent: #6ee154;

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navbar {
  @apply pad bg-light dark:bg-darker flex flex-row justify-between items-center drop-shadow-sm select-none sticky top-0 z-10;
}

.statDiv {
  @apply bg-light dark:bg-middark w-[200px] h-[120px] px-4 py-2 rounded-[10px] flex flex-col relative;
  p {
    @apply text-size-2 font-bold self-center;
  }
  i {
    @apply absolute bottom-[8px] right-[20px] text-[30px];
  }
}

.before-rabon::before {
  content: '';
  @apply absolute -left-4 top-0 w-[3px] h-full bg-success;
}

.flex-center {
  @apply flex items-center justify-center;
}

.rate-green {
  color: rgb(34 197 94);
}
.rate-cyan {
  color: rgb(6 182 212);
}
.rate-yellow {
  color: rgb(234 179 8);
}
.rate-orange {
  color: rgb(249 115 22);
}
.rate-red {
  color: rgb(239 68 68);
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.golden-glass {
  display: flex !important;
  background: linear-gradient(135deg, #fff700, #ffb800, #ffd700);
  background-size: 200% 200%;
  animation: shine 3s linear infinite;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px rgba(255, 215, 0, 0.5);
  @apply p-2 flex-row rounded-lg gap-4;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links li {
  margin: 0 1rem;
  cursor: pointer;
  text-transform: capitalize;
}
.nav-links li:hover a {
  color: var(--color-grey) !important;
}

.menuu {
  cursor: pointer;
}
.menuu:hover {
  color: var(--color-golden) !important;
}
.nav-ss {
  display: none;
}
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.nav-overlay .overlay-close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}
.nav-links-ss {
  list-style: none;
}
.nav-links-ss li {
  margin: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .nav-links {
    display: none;
  }
  .nav-ss {
    display: flex;
  }
}
@media screen and (max-width: 650px) {
  nav {
    padding: 1rem;
  }
  .login {
    display: none;
  }
}

main {
  @apply pad;
}

.gradient-w {
  @apply bg-gradient-to-tl from-slate-300 to-white text-black;
}

.imgbg {
  background-image: url('./../bg-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
